.content {
    padding: 30px;
    h1 {
        text-align: center;
        color: #114514;
        margin-bottom: 20px;
    }
    hr {
        width: 100%;
        border: 0;
        border-top: 1px solid #114514;
        margin: 20px 0;
    }
    .feedbacks {
        margin-top: 20px;
        .feedback {
            display: block;
            text-decoration: none;
            border: 1px solid #114514;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 15px;
            background-color: #f9f9f9;
            .feedback-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                .feedback-name {
                    font-weight: bold;
                    color: #114514;
                }
                .feedback-time {
                    font-size: 0.9em;
                    color: #777777;
                }
            }
            .feedback-message {
                font-size: 1.1em;
                color: #333333;
            }

            &::after {
                content: "左鍵刪除意見，右鍵刪除回覆";
                display: block;
                font-size: 0.8em;
                color: #777777;
                margin-top: 10px;
            }

            .replies {
                margin-top: 10px;
                .reply {
                    display: block;
                    text-decoration: none;
                    border: 1px solid #114514;
                    border-radius: 5px;
                    padding: 10px;
                    margin-bottom: 10px;
                    background-color: #e9e9e9;
                    .reply-header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 5px;
                        .reply-name {
                            font-weight: bold;
                            color: #114514;
                        }
                        .reply-time {
                            font-size: 0.8em;
                            color: #777777;
                        }
                    }
                    .reply-message {
                        font-size: 1em;
                        color: #333333;
                    }
                }
            }
        }
    }
}
