@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@font-face {
    font-family: "Title-Font";
    src: url("/static/fonts/title-font.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #114514;
    padding: 0;
    margin: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

header {
    height: 80px;
    position: relative;
    display: flex;
    overflow: hidden;
    h1 {
        font-size: 48px;
        margin: 0 auto;
        align-content: center;
        text-align: center;
        font-family: "Title-Font", sans-serif;
    }
    .logo {
        width: 150px;
        height: auto;
        position: absolute;
        z-index: 67;
    }
}

.navbar {
    display: flex;
    a {
        flex: 1;
        text-align: center;
        color: white;
        text-decoration: none;
        padding: 8px 16px;
        background-color: #114514;
        transition: background-color 0.3s, border-color 0.3s;
        &:hover {
            background-color: #1a5;
            &::after {
                opacity: 1;
                clip-path: inset(0 0 0 0);
            }
        }
        &::after {
            content: '▼';
            opacity: 0;
            margin-left: 5px;
            clip-path: inset(0 0 100% 0);
            transition: opacity 0.3s, clip-path 1s;
        }
    }
}
