.content div {
    display: flex;
    padding: 10px;
    margin: 20px;
    .item {
        background-color: #114514;
        color: white;

        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        text-decoration: none;
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        &:hover {
            background-color: #228a28;
            transform: translateY(-5px);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
        }

        h2 {
            padding: 0 10px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }

    h1 {
        display: flex;
        align-items: center;
        border-right: 5px solid #114514;
        padding-right: 10px;
        padding-bottom: 0px;
        margin: 0 10px 0 0;
    }
}
