@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    position: relative;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #114514;
    padding: 0;
    margin: 0;
    animation: fadeIn 0.7s ease-out forwards;
}

@font-face {
    font-family: "Title-Font";
    src: url("/static/fonts/title-font.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

header {
    z-index: 67;
    background-color: #fff;
    height: 75px;
    top: 0;
    overflow: hidden;
    position: sticky;
    width: 100%;
    h1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        white-space: nowrap;
        line-height: 75px;
        font-weight: 500;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        font-family: "Title-Font", sans-serif;
        font-size: 0;
        letter-spacing: 0;
        &::after {
            font-size: 60px;
            letter-spacing: 15px;
            content: "青山自治會";
        }
    }
    .logo {
        position: absolute;
        height: 75px;
        width: 150px;
    }
}

.navbar {
    z-index: 67;
    display: flex;
    position: sticky;
    top: 75px;
    width: 100%;
    a {
        font-weight: 300;
        flex: 1;
        text-align: center;
        color: white;
        text-decoration: none;
        padding: 8px 16px;
        background-color: #114514;
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, box-shadow 0.3s, font-weight 0.3s;
        &:hover {
            box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.5);
            background-color: #228a28;
            font-weight: 400;
        }
        span {
            display: inline;
        }
    }
}

@media(max-width:700px){
    header .logo {
        display: none;
    }
    .navbar a span {
        display: block;
    }
}

@media(min-width:1050px){
    header h1::after {
        content: "青山國中小學生自治會";
    }
}
